@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0E1018;
}

nav {
  background-color: #0E1018;
}

nav a {
  text-decoration: none;
}

hr {
  border-color: #4560b8;
  border-radius: 5px;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  border-width: 0.1rem;
}

h1 {
  font-size: larger;
  font-weight: 600;
}

h2 {
  font-size: large;
  font-weight: 500;
}

#fireworks {
  position: absolute;
  z-index: -1;
}